<div class="row">
    <div class="col-md-12">
        <div class="carousel slide" id="carousel-207603">
            <ol class="carousel-indicators">
                <li data-slide-to="0" data-target="#carousel-207603" class="active">
                </li>
                <li data-slide-to="1" data-target="#carousel-207603">
                </li>
                <li data-slide-to="2" data-target="#carousel-207603">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" width="500" height="800" alt="Carousel Bootstrap First"
                         src="assets/images/one.jpg"/>
                    <div class="carousel-caption">
                        <h1>
                           LIVE YOUR STYLE
                        </h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" width="500" height="800" alt="Carousel Bootstrap Second"
                         src="assets/images/two.jpg"/>
                    <div class="carousel-caption">
                        <h2>
                            Choose your Comfort
                        </h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" width="500" height="800" alt="Carousel Bootstrap Third"
                         src="assets/images/three.jpg"/>
                    <div class="carousel-caption">
                        <h3>
                            DEALS IN SPOTLIGHT
                        </h3>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-207603" data-slide="prev"><span
                    class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a
                class="carousel-control-next" href="#carousel-207603" data-slide="next"><span
                class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
        </div>
    </div>
</div>
