<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" alt="Bootstrap Thumbnail First"
                         src="assets/images/puma.jpg"/>
                    <div class="card-block">
                        <h5 class="card-title">
                            PUMA
                        </h5>
                        <p class="card-text">
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                        <p>
                            <a class="btn btn-primary" target="_blank" href="https://in.puma.com/">More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top"  alt="Bootstrap Thumbnail Second"
                         src="assets/images/adidas.jpg"/>
                    <div class="card-block">
                        <h5 class="card-title">
                            ADIDAS
                        </h5>
                        <p class="card-text">
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                        <p>
                            <a class="btn btn-primary" target="_blank" href="https://shop.adidas.co.in/">More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" alt="Bootstrap Thumbnail Third"
                         src="assets/images/reebok.jpg"/>
                    <div class="card-block">
                        <h5 class="card-title">
                            REEBOK
                        </h5>
                        <p class="card-text">
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                        <p>
                            <a class="btn btn-primary" target="_blank" href="https://www.reebok.com/us">More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
